{% extends 'products/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container my-5">
   <h2 class="my-5">Featured Products</h2>
   <div class="row">
      <div class="col-md-3">
         <form method="get">
            {{ filter.form| crispy }}
            <button type="submit" class=" btn btn-lg btn-outline-primary  fa fa-search ">   Search   </button>
         </form>
      </div>
      <div class="col-md-9">
         <div class="row">
            {% for i in filter.qs %}
            <div class="col-md-6 col-sm-12 col-lg-4">
               <figure class="card card-product">
                  <div class="img-wrap"> 
                     <img src="{{ MEDIA_URL }}{{i.mainimage}}" style="width: 100%; height: 300px;">
                  </div>
                  <figcaption class="info-wrap">
                     <h5 class="title text-dots"><a href="{{ i.get_absolute_url }}">{{ i.name }}</a></h5>
                     <div class="action-wrap">
                        <!-- <a href="cart/{{ product.slug }}" class="btn btn-primary btn-sm"> Add to Cart </a>
                           <a href="cart/" class="btn btn-primary btn-sm"> View Cart </a> -->
                        <!--             <a href="remove/{{ product.slug }}" class="btn btn-danger btn-sm"> Remove</a>
                           -->						<!-- price-wrap.// -->
                        <div class="price-wrap h5">
                           <span class="price-new">₹{{i.price}}</span>
                
                        </div>
                     </div>
                     <!-- action-wrap -->
                  </figcaption>
               </figure>
               <!-- card // -->
            </div>
            <!-- col // -->
            {% endfor %}
         </div>
      </div>
   </div>
</div>
{% endblock %}